@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.navbar__page{
position: relative;
top: 0;
height: 140px;
display: flex;
justify-content: center;
align-items: flex-end;
border: 1px solid;
}
.nav__logo{
        height: 100%;
        width: 100%;       
        position: absolute; 
        top: 0;
}   
.nav__logo .img__logo{
    height: 100%;
    width: 10%;
    object-fit: cover;
}
.ul__logo{
    width: 200px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    left: 20%;
}
.li__logo{
    list-style-type: none;
    height: 50%;
    width: 100px;
    margin: 50px;
}
